.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  background-color: #ffffff;
  color: #060101;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow-y: auto;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20; 
  padding-left: 10px;
  padding-right: 10px;
}

.logo-container {
  align-self: flex-start; 
  margin-top: 0; 
  padding: 0;
}

.logo-container img {
  width: 30%; 
  height: auto;
  margin-left: 0;
}

.menu-items {
  width: 100%; 
  overflow-y: auto;
}
.sidebar ul {
  list-style-type: none;   
  padding-left: 0;     
}

.sidebar-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.sidebar-link li {
  padding: 15px 20px;
  text-align: left;
  transition: background-color 0.3s ease;
}

.sidebar-link li:hover {
  background-color: #dc2626;
  cursor: pointer;
}

.logout-container {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box; 
}

.logout-btn {
  background-color: #d93025;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%; 
  text-align: center;
}

.logout-btn:hover {
  background-color: #b7271d;
}
