/* General resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Main app container */
.App {
  display: flex;
  min-height: 100vh;
  width: 100%; /* Ensure full width */
}
.logo-container {
  padding: 10px; 
  border-bottom: 1px solid #ccc;  
}

/* Sidebar basic styling */
.sidebar {
  position: fixed;
  padding: 20px;
  left: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  background-color: #fff3f3;
  overflow-y: auto;
  z-index: 1000;
  color: #000000;
  padding: 50px 10px 40px 10px; /* Top, Right, Bottom, Left */
}

/* Content area */
.content {
  margin-left: 240px;
  padding: 20px;
  background-color: #fff;
  min-height: 100vh;
}



/* Main content styles */
.content {
  margin-left: 250px; /* Same as the sidebar's width */
  padding: 20px; /* Padding for content readability */
  width: calc(100% - 250px); /* Adjusts width to take remaining space */
  min-height: 100vh; /* Minimum height */
  transition: margin-left 0.3s ease; /* Smooth transition for margin */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1a73e8;
}

.error-message {
  color: #d93025;
  text-align: center;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .sidebar {
      width: 100px;
  }
  .content {
      margin-block: 100px;
  }
}

@media (max-width: 480px) {
  .sidebar {
      width: 60%;
      padding: 10px 0; /* Only top and bottom padding */
  }
  .content {
      margin: 0;
      padding: 10px;
  }
}

